@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", "Arial";
  margin: 0;
  min-height: 100vh;
}
